.breadcrumb__holder {
  padding: 16px 0;
}

.breadcrumb__item {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  text-decoration: none;
  color: @basic-black;
  
  &:active {
    color: @basic-light-grey;
  }

  &:hover {
    color: @basic-black;
  }
}

.breadcrumb__item-main {
  color: @basic-grey;
}

@media (min-width: @desktop-width) {
  .breadcrumb__holder {
    padding: 0;
  }
}