.cart {
  padding: 16px 0;
}

.cart__item {
  display: flex;
  gap: 12px;
  padding: 16px 0;
}

.cart__holder {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.cart__title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.cart__image {
  width: 80px;
  height: 80px;
}

.cart__text {
  font-size: 26px;
  font-weight: bold;
  line-height: 30px;
  margin: 14px  0;
}

.cart__slogan {
  display: none;
}

.cart__wrapper-input {
  position: relative;
  margin-top: 25px;
  margin-bottom: 0;
}

.cart__input {
  width: 81px;
  height: 32px;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  align-items: center;
  border: 1px solid @basic-black;
  outline: none;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 25px;
}

.cart__input::placeholder {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: @basic-black;
}

.cart__button {
  position: absolute;
  border: none;
  background: none;
  outline: none;
  padding: 0;
}

.cart__button-reduce {
  width: 12px;
  height: 0;
  top: 8px;
  left: 5px;
}

.cart__button-increase {
  width: 12px;
  height: 12px;
  top: 10px;
  right: 10px;
}

.cart__product-price {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: right;
}

.cart__product-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.cart__button-delete {
  font-size: 12px;
  color: @basic-grey;
  margin-top: 50px;
  text-align: right;
  
  &:active {
    color: @basic-light-grey;
  }

  &:hover  {
    color: @basic-black;
  }
}

.cart__total-holder {
  display: flex;
  justify-content: space-between;
}

.cart__total-text {
  font-size: 26px;
  line-height: 30px;
  font-weight: bold;
}

.cart__button-link {
  width: 286px;
  height: 60px;
  background: none;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
  border: 1px solid @basic-black;
  
  &:hover {
    border: 1px solid @basic-grey;
    color: @basic-grey;
  }

  &:active {
    border: 1px solid @basic-light-grey;
    color: @basic-light-grey;
  }
}

@media (min-width: @desktop-width) {
  .cart {
    padding: 20px 20px;
  }


  .cart__item:first-child::after {
    content: "";
    position: absolute;
    display: none;
  }

  .cart__item {
    padding: 0;
    margin: 34px 0;
    gap: 24px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: -19px;
      bottom: 0;
      height: 1px;
      background: @basic-light-grey;
      width: 100%;
    }
  }

  .cart__title {
    font-size: 20px;
  }

  .cart__slogan {
    display: block;
    color: @basic-grey;
    font-size: 16px;

  }

  .cart__total-text {
    font-size: 28px;
  }

  .cart__product-price {
    font-size: 20px;
  }

  .cart__image-holder {
    margin: 0;
    padding: 0;
  }

  .cart__image {
    width: 150px;
    height: 150px;
  }

  .cart__input {
    margin-top: auto;
    margin-bottom: 0;
  }

  .cart__button-delete {
    margin-top: auto;
  }

  .cart__button-increase {
    width: 12px;
    height: 12px;
    top: 10px;
    left: 62px;
  }

  .cart__total-holder {
    display: none;
  }

  .cart__button-link {
    width: 503px;
    height: 60px;
    background: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    border: 1px solid @basic-black;
    
    &:hover {
      border: 1px solid @basic-grey;
      color: @basic-grey;
    }
  
    &:active {
      border: 1px solid @basic-light-grey;
      color: @basic-light-grey;
    }
  }
}