.form {
  padding: 16px 0;
}

.form__label {
  color: @basic-grey;
  font-size: 12px;
  line-height: 14px;
}

.form__item--address {
  display: grid;
}

.form__input {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid @basic-grey;
  height: 50px;
  width: 285px;
  padding: 0;
}

.form__option {
  color: @basic-grey;
  font-size: 12px;
  line-height: 14px;
}

.form__input::placeholder {
  align-items: flex-start;
}

.form__input--address::placeholder {
  color: @basic-black;
}

