.page-header__wrapper {
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-header__image {
  width: 77px;
  height: 24px;
}

.page-header__nav {
  padding: 16px 0;
}

@media (min-width: @desktop-width) {
}